<li>
    <article>
        <h3><a href='{{ site.baseurl }}{{ item.url }}' title="{{ item.title }}">{{ item.title }}</a></h3>
        <h6 class="time">{{ item.date | date: "%F" }} by {{ site.author.name }}</h6>
        <summary>{{item.description}}</summary>
        <p class='articleFooter clearfix'>
            <a class='readMore' href="{{ site.baseurl }}{{ item.url }}#more">阅读全文</a>
            <!-- 暂时隐藏评论 -->
            <!-- <span class="comment">0条评论</span> -->
        </p>
    </article>
</li>
