{% if site.categories | size != 0 %}
<div class="classify">
	<div class="blogTxt">分类</div>
	<ul class='classifyBox'>
		<!-- key[0]表示名称，value[1]表示数量  -->
		{% for item in site.categories %}
			<li>
				<a href="{{ site.baseurl }}/categories/#{{ item[0] }}" title="{{ item[0] }}">
					<p class="txt">
						{{ item[0] }}
					</p>
					{% if item[1] | size > 1 %}
						<span class='classifyNum'>1+</span>
					{% else %}
						<span class='classifyNum'>{{ item[1] | size }}</span>
					{% endif %}
				</a>
			</li>
		{% endfor %}
	</ul>
</div>
{% endif %}
