<div class="blogContent clearfix">
	<div class="blogContentLeft">
	    <div class="aboutMe">
			<div class="aboutMeHead">
				<div class="authorImg">
					<img src="{{ site.assets }}/{{ site.author_img }}" class="imgResponsive"/>
				</div>
			</div>
			<ul class="describeBox">
				<li class="clearfix">
					<div class="describe">名称</div>
					<div class="describeInfo">Evan，这个来源于我工作的的第一家公司，属于半外资，要用到一个英文名，然后一直用到现在</div>
				</li>
				<li class="clearfix">
					<div class="describe">描述</div>
					<div class="describeInfo">如果你见过本人，你内心可能会发起这样的疑问，这是一名程序员么？哈哈哈~~说真的，这个页面的信息，我还真没想好要写些啥</div>
				</li>
				<li class="clearfix">
					<div class="describe">职业</div>
					<div class="describeInfo">我是一名前端切片仔，其实我最开始是想从事设计，包括动画设计，然后设计中途，学了那么点CSS，从此就踏上了编程这条路T-T</div>
				</li>
				<li class="clearfix">
					<div class="describe">兴趣</div>
					<div class="describeInfo">在女生眼里，程序员==宅男，然后宅男喜欢LOL，喜欢二次元生物，追过火影-海贼-钢炼，我觉得嘛，一名程序员找资源看电影很正常的对不对！！！当然啦， 还是少不了羽毛球这项运动的</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="blogContentRight">
        {% include _component/categorie.html %}
    </div>
</div>
{% include _component/footer.html %}
<div class='backTop'>↑</div>
{% include _component/footerWithJS.html %}
