<div class="blogContent clearfix">
    <div class="aboutMe">
		<div class="aboutMeHead">
			<div class="authorImg">
				<img src="{{ site.assets }}/{{ site.author_img }}" class="imgResponsive"/>
			</div>
		</div>
		<ul class="describeBox">
			<li class="clearfix">
				<div class="describe">描述</div>
				<div class="describeInfo">相信有很多小伙伴和我一样，经历过“做设计，心里没底”的情况，说的直接点就是“找到好参考就能做好，找不到好参就做不好，即使做出了好作品，也觉得带有一定的</div>
			</li>
			<li class="clearfix">
				<div class="describe">兴趣</div>
				<div class="describeInfo">羽毛球，LOL而且没了</div>
			</li>
		</ul>
	</div>
</div>
{% include _component/footer.html %}
<div class='backTop'>↑</div>
{% include _component/footerWithJS.html %}
