<div class="blogContent clearfix">
    <section class="blogArchives">
        {% for item in site.posts  %}
            {% capture currentDate %}{{ item.date | date: "%Y" }}{% endcapture %}
            {% capture prevDate %}{{ item.previous.date | date: "%Y"}}{% endcapture %}
            {% if prevDate !=  currentDate %}
            <ul class="eui-timeline">
                <li class="eui-timeline-item">
                    <div class="eui-timeline-tail"></div>
                    <div class="eui-timeline-head-custom">
                        <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <div class="eui-timeline-content">{{item.date | date: "%Y" }}</div>
                </li>
                {% for subItem in site.posts  %}
                    {% capture currentSubDate %}{{ subItem.date | date: "%Y" }}{% endcapture %}
                    {% if currentSubDate ==  currentDate %}
                    <li class="eui-timeline-item">
                        <div class="eui-timeline-tail"></div>
                        <div class="eui-timeline-head"></div>
                        <div class="eui-timeline-content">
                            <a href="blogInfo.html">
                                <span class="item-time">{{subItem.date | date: "%Y" }}</span>
                                <span>{{subItem.title}}</span>
                            </a>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
    </section>
</div>
<div class='backTop'>↑</div>
<!--  <div class="eui-timeline-head"></div>
                        <div class="eui-timeline-content">
                            <a href="blogInfo.html">
                                <span class="item-time">{{item.date | date: "%Y" }}</span>
                                <span>代码高亮</span>
                            </a>
                        </div> -->
{% include _component/footerWithJS.html %}

