<div class="blogContent clearfix">
    <div class="blogContentLeft">
        <section class="blogCategories">
        {% if site.categories | size != 0 %}
        {% for item in site.categories  %}
            <ul class="eui-timeline">
                <li class="eui-timeline-item">
                    <div class="eui-timeline-tail"></div>
                    <div class="eui-timeline-head-custom">
                        <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <div class="eui-timeline-content">{{ item[0] }}</div>
                    <div class="eui-timeline-content">{{ item[1] }}</div>
                </li>
                {% for p in site.categories.item[0] %}
                    {{ p.url }}
                {% endfor %}
            </ul>
        {% endfor %}
        {% endif %}
        </section>
    </div>
    <div class="blogContentRight">
        {% include _component/categorie.html %}
    </div>
</div>
<div class='backTop'>↑</div>
{% include _component/footerWithJS.html %}

