<div class="blogContent clearfix">
    <div class="blogContentLeft">
        <section class="blogCategories">
        {% for item in site.categories  %}
            <ul class="eui-timeline">
                <li class="eui-timeline-item">
                    <div class="eui-timeline-tail"></div>
                    <div class="eui-timeline-head-custom">
                        <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <div class="eui-timeline-content">{{ item[0] }}</div>
                </li>
                {% capture currentPages %}{{ item[1] }}{% endcapture %}
                {% for subItem in currentPages  %}
                    <div>{{ subItem }}</div>
                    <li class="eui-timeline-item">
                        <div class="eui-timeline-tail"></div>
                        <div class="eui-timeline-head"></div>
                        <div class="eui-timeline-content">
                            <a href="{{ site.baseurl }}{{ subItem.url }}#more">
                                <span class="item-time">{{subItem.date | date: "%m-%d" }}</span>
                                <span>{{subItem.title}}</span>
                            </a>
                        </div>
                    </li>
                   
                {% endfor %}
            </ul>
        {% endfor %}
        </section>
    </div>
    <div class="blogContentRight">
        {% include _component/categorie.html %}
    </div>
</div>
<div class='backTop'>↑</div>
{% include _component/footerWithJS.html %}

