{% include _component/left.html %}
<div class="main">
    <div class="grid">
        <header class="top-bar clearfix">
            <h5 class="pull-left">分类页</h5>
            {% include _component/filter.html %}
        </header>
        <div class="timelineBox">
        <!-- 时间轴 -->
        {% if site.categories | size != 0 %}
        {% for item in site.categories  %}
            <ul class="eui-timeline">
                <li class="eui-timeline-item">
                    <div class="eui-timeline-tail"></div>
                    <div class="eui-timeline-head-custom">
                        <i class="glyphicon glyphicon-time"></i>
                    </div>
                    <div class="eui-timeline-content">{{ item[0] }}</div>
                </li>
                {% for p in item[1] | size %}
                    <li class="eui-timeline-item">
                        <div class="eui-timeline-tail"></div>
                        <div class="eui-timeline-head"></div>
                        <div class="eui-timeline-content">
                            <a href="{{ site.baseurl }}{{ p.url }}#more">
                                <span class="item-time">{{p.date | date: "%m-%d" }}</span>
                                <span>{{p.title}}</span>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% include _component/footerWithJS.html %}
<script type="text/javascript">
    $(function(){
        var filterName = window.location.href.split('?')[0].split('/').pop().split('#').pop();
        if(filterName){
            var _index = filterName.split('&')[1].split('=').pop();
            $(".eui-timeline").eq(_index).siblings(".eui-timeline").addClass("hide");
        }
    })
</script>

