{% include _component/left.html %}
<div>{{ type }}</div>
<div class="main">
	<div class="grid">
		<header class="top-bar clearfix">
			<h5 class="pull-left">最新文章</h5>
			<div class="pull-right filter">
				<span>分类:</span>
				<span class="dropdown js-dropdown">Popular</span>
			</div>
			
			<!--上下一篇▼-->
			<div class="dropbox">
				<ul class="clearfix">
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">CSS</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">CSS</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">CSS</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">CSS</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
					<li class="pull-left">
						<a href="javascript:;">插件</a>
					</li>
				</ul>
				<span class="dropbox-close js-dropbox-close"></span>
			</div>
		</header>
		<ul class="grid-list clearfix">
			<li class="pull-left grid-list-item">
				<div class="grid-list-item-box">
					<a href="javascript:;" class="h4"><strong>jquery插件之拖放，排序</strong></a>
					<p><small>2017-03-23 by Evan</small></p>
					<hr />
					<summary class="h5">
						最近一个项目要用到拖拽排序，如果你去网上搜索的话，应该会搜到Sortable.js，这个是脱离jquery使用，比较轻量，而项目里面已经集合了jquery，所以这次依旧使用jquery的插件draggable，droppable， sortable。
					</summary>
					<div class="h5 clearfix">
						<div class="pull-left mr-5">
							<strong>分类:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-left mr-5">
							<strong>标签:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-right">
							<a href="javascript:;"><strong>阅读全文</strong></a>
						</div>
					</div>
				</div>
			</li>
			<li class="pull-left grid-list-item">
				<div class="grid-list-item-box">
					<a href="javascript:;" class="h4"><strong>jquery插件之拖放，排序</strong></a>
					<p><small>2017-03-23 by Evan</small></p>
					<hr />
					<summary class="h5">
						最近一个项目要用到拖拽排序，如果你去网上搜索的话，应该会搜到Sortable.js，这个是脱离jquery使用，比较轻量，而项目里面已经集合了jquery，所以这次依旧使用jquery的插件draggable，droppable， sortable。
					</summary>
					<div class="h5 clearfix">
						<div class="pull-left mr-5">
							<strong>分类:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-left mr-5">
							<strong>标签:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-right">
							<a href="javascript:;"><strong>阅读全文</strong></a>
						</div>
					</div>
				</div>
			</li>
			<li class="pull-left grid-list-item">
				<div class="grid-list-item-box">
					<a href="javascript:;" class="h4"><strong>jquery插件之拖放，排序</strong></a>
					<p><small>2017-03-23 by Evan</small></p>
					<hr />
					<summary class="h5">
						最近一个项目要用到拖拽排序，如果你去网上搜索的话，应该会搜到Sortable.js，这个是脱离jquery使用，比较轻量，而项目里面已经集合了jquery，所以这次依旧使用jquery的插件draggable，droppable， sortable。
					</summary>
					<div class="h5 clearfix">
						<div class="pull-left mr-5">
							<strong>分类:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-left mr-5">
							<strong>标签:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-right">
							<a href="javascript:;"><strong>阅读全文</strong></a>
						</div>
					</div>
				</div>
			</li>
			<li class="pull-left grid-list-item">
				<div class="grid-list-item-box">
					<a href="javascript:;" class="h4"><strong>jquery插件之拖放，排序</strong></a>
					<p><small>2017-03-23 by Evan</small></p>
					<hr />
					<summary class="h5">
						最近一个项目要用到拖拽排序，如果你去网上搜索的话，应该会搜到Sortable.js，这个是脱离jquery使用，比较轻量，而项目里面已经集合了jquery，所以这次依旧使用jquery的插件draggable，droppable， sortable。
					</summary>
					<div class="h5 clearfix">
						<div class="pull-left mr-5">
							<strong>分类:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-left mr-5">
							<strong>标签:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-right">
							<a href="javascript:;"><strong>阅读全文</strong></a>
						</div>
					</div>
				</div>
			</li>
			<li class="pull-left grid-list-item">
				<div class="grid-list-item-box">
					<a href="javascript:;" class="h4"><strong>jquery插件之拖放，排序</strong></a>
					<p><small>2017-03-23 by Evan</small></p>
					<hr />
					<summary class="h5">
						最近一个项目要用到拖拽排序，如果你去网上搜索的话，应该会搜到Sortable.js，这个是脱离jquery使用，比较轻量，而项目里面已经集合了jquery，所以这次依旧使用jquery的插件draggable，droppable， sortable。
					</summary>
					<div class="h5 clearfix">
						<div class="pull-left mr-5">
							<strong>分类:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-left mr-5">
							<strong>标签:</strong>
							<a href="javascript:;">插件</a>
						</div>
						<div class="pull-right">
							<a href="javascript:;"><strong>阅读全文</strong></a>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="pagenavi clearfix">
            <!-- 上一页 -->
            <a class="pull-left mr-5 home" href="/">首页</a>
            <a class="pull-left mr-5 prev" href="/">上一页</a>
            <!-- 页码 -->
            <a class="pageNum" href="/">1</a>
            <span class="pageNum current">2</span>
            <a class="pageNum" href="/page3">3</a>
            <span class="pageNum">共4页</span>
            <!-- 下一页 -->
            <a class="pull-right ml-5 last" href="/page4">末页</a>
            <a class="pull-right ml-5 next" href="/page3">下一页</a>
        </div>
	</div>
</div>