<div class="blogContent clearfix">
    <div class="blogContentLeft">
        <ul class="indexArticleList">
            <!-- 首页文章展示 -->
            {% for post in paginator.posts %}
                {% assign item = post %}
                <!-- 调用存档组件 -->
                {% include _component/archive.html %}
            {% endfor %}
        </ul>

        <!-- 总页数大于1页的时候启动分页 -->
        {% if paginator.total_pages > 1 %}
        <div class="pagenavi clearfix">
            <!-- 上一页 -->
            {% if paginator.previous_page %}
                <a class="prev" href="{{ paginator.previous_page_path }}">上一页</a>
            {% endif %}

            <!-- 页码 -->
            {% if (paginator.page | minus:3) <= 0 %}
                {% for page in (1..paginator.next_page) %}
                    {% if paginator.page == page %}
                        <span class="pageNum current">{{ page }}</span>
                    {% else %}
                        <a class="pageNum" href="/page{{ page }}">{{ page }}</a>
                    {% endif %}
                    {% if forloop.last %}
                        <span class="pageNum current">...</span>
                        <a class="pageNum" href="/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
                    {% endif %}
                {% endfor %}

            {% capture currentPage %}{{paginator.page}}{% endcapture %}
            {% elsif (paginator.total_pages - currentPage ) <= 3 %}
                {% capture minusPage %}{{paginator.total_pages | minus:3 }}{% endcapture %}
                {% for page in (minusPage..paginator.total_pages) %}
                    {% if paginator.page == page %}
                        <span class="pageNum current">{{ page }}</span>
                    {% else %}
                        <a class="pageNum" href="/page{{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for page in (paginator.previous_page..paginator.next_page) %}
                    {% if paginator.page == page %}
                        <span class="pageNum current">{{ page }}</span>
                    {% else %}
                        <a class="pageNum" href="/page{{ page }}">{{ page }}</a>
                    {% endif %}
                    {% if forloop.last %}
                        <span class="pageNum current">...</span>
                        <a class="pageNum" href="/page{{ paginator.total_pages }}">{{ paginator.total_pages }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <!-- 下一页 -->
            {% if paginator.next_page %}
                <a class="next" href="{{ paginator.next_page_path }}">下一页</a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="blogContentRight">
        {% include _component/categorie.html %}
    </div>
</div>
{% include _component/footer.html %}
<div class='backTop'>↑</div>
{% include _component/footerWithJS.html %}

