<div class="blogContent clearfix">
    <div class="blogContentLeft">
        <div class="blogInfo">
            <h3>{{page.title}}</h3>
            <h6 class='time'>2015-09-20 by Evan</h6>
            <article class="infoContent">
                <h4 class="infoSubTitle">SyntaxHighlighter.js 代码高亮</h4>
                <p>
                    {代码高亮，这里使用SyntaxHighlighter1.5.1版本，因为这个版本可以在页面加载之前把代码给初始化显示，而高版本的暂时}发现不行，会有闪烁效果，而且样式上会出现滚动条，要手动修改样式
                </p>
            </article>
        </div>
        <div class="pagenavi clearfix pagenaviInfo">
            <a class="prev" href="javascript:;">
                上一篇:<span>js继承</span>
            </a>
            <a class="next" href="javascript:;">
                下一篇:<span>代码高亮的使用</span>
            </a>
        </div>
    </div>
    <div class="blogContentRight">
        <div class="classify">
            <div class="blogTxt">分类</div>
            <ul class='classifyBox'>
                <li>
                    <a href="javascript:;">
                        <p class="txt">
                            常用指令
                        </p>
                        <span class='classifyNum'>1</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p class="txt">
                            前端资料
                        </p>
                        <span class='classifyNum'>99+</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p class="txt">
                            学习总结
                        </p>
                        <span class='classifyNum'>43</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include _component/footer.html %}
<div class='backTop'>↑</div>
