---
---
{% assign lang = site.data.languages[site.language] %}
<!DOCTYPE html>
<html>

<head>
    {% include _component/headerInformation.html %}
</head>

<body id="BnuephjxBlog">
    {% include _component/header.html %}
    <div class="blogContent clearfix">
        <div class="blogContentLeft">
            <div class="blogInfo">
                <h3>{{page.title}}</h3>
                <h6 class='time'>{{ page.date | date: "%F" }} by {{ page.author }}</h6>
             	{% include _views/post.html %}
            </div>

            <!-- 当上一篇或者下一篇存在的情况下 -->
            {% if page.previous or page.next %}
                <div class="pagenavi clearfix pagenaviInfo">
                    <!-- 上一篇 -->
                    {% if page.previous %}
                        <a class="prev" href="{{page.previous.url}}" title='{{page.previous.title}}'>
                            上一篇:<span>{{page.previous.title}}</span>
                        </a>
                    {% endif %}

                    <!-- 下一篇 -->
                    {% if page.next %}
                        <a class="next" href="{{page.next.url}}" title='{{page.next.title}}'>
                            下一篇:<span>{{page.next.title}}</span>
                        </a>
                    {% endif%}
                </div>
            {% endif %}
        </div>
        <div class="blogContentRight">
            {% include _component/categorie.html %}
        </div>
    </div>
    {% include _component/footer.html %}
    <div class='backTop'>↑</div>
    {% include _component/footerWithJS.html %}
</body>

</html>
