---
---

{% assign lang = site.data.languages[site.language] %}
<!DOCTYPE html>
<html>

<head>
    {% include _component/headerInformation.html %}
</head>

<body>
	{% include _component/left.html %}
	<div class="main">
		<div class="article-info">
			<div class="article">
				<h3 class="text-left">{{ page.title }}</h3>
				<h6 class="text-left"><small>{{ page.date | date: "%F" }} by {{ page.author }}</small></h6>
				<hr />
				{{ content }}
			</div>
		</div>
	</div>
	{% include _component/footerWithJS.html %}
</body>

</html>

